bin
build
version
*.ods
*.o
*.pyc
*~
*.directory
*.DS_Store
*.swp
/bin
.classpath
.factorypath
.project
.settings/*
.gradle/*
local.properties
*.aux
*.log
*.out
*.synctex.gz
*.toc
manual/*.pdf
*.iml
.idea/*
