bin
build
*.ods
/bin

# Local
local.properties
version

# OS
*.directory
*.DS_Store
*~
*.swp

# IDE
.classpath
.factorypath
.project
.settings/*
.gradle/*
*.iml
.idea/*


# Python
*.pyc

# LaTeX
manual/*.pdf
*.aux
*.log
*.out
*.synctex.gz
*.toc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
