/FCCStationPacking/bin
/FCCStationPacking/.classpath
/FCCStationPacking/Input
/FCCStationPacking/Output
*.o
*.pyc
*~
*.directory
/FCCStationPacking/SATsolvers/clasp/claspx64osx/build
*.DS_Store
*.swp
/bin
/Arguments
/deliverable
lib/redis-client/*.class