/FCCStationPacking/bin
/FCCStationPacking/.classpath
/FCCStationPacking/Input
/FCCStationPacking/Output
*.o
*.pyc
*~
*.directory
/FCCStationPacking/SATsolvers/clasp/claspx64osx/build
*.DS_Store
*.swp
/bin
/Arguments
/deliverable
lib/redis-client/*.class
lib/redis-client/example_answer.csv
src/ca/ubc/cs/beta/stationpacking/base/StationPackingInstance.class
src/ca/ubc/cs/beta/stationpacking/daemon/server/threadedserver/solver/ServerSolver$ProblemInitializingOverheadTimeoutException.class
src/ca/ubc/cs/beta/stationpacking/daemon/server/threadedserver/solver/ServerSolver$SolverServerStateInterruptedException.class
src/ca/ubc/cs/beta/stationpacking/daemon/server/threadedserver/solver/ServerSolver$SolvingInterrupedException.class
src/ca/ubc/cs/beta/stationpacking/daemon/server/threadedserver/solver/ServerSolver.class
dump.rdb
src/ca/ubc/cs/beta/stationpacking/execution/parameters/solver/SolverManagerParameters$1.class
src/ca/ubc/cs/beta/stationpacking/execution/parameters/solver/SolverManagerParameters.class
src/ca/ubc/cs/beta/stationpacking/execution/parameters/solver/daemon/ThreadedSolverServerParameters.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/CPUTimeTerminationCriterion.class
src/ca/ubc/cs/beta/stationpacking/base/Station.class
src/ca/ubc/cs/beta/stationpacking/base/StationComparator.class
src/ca/ubc/cs/beta/stationpacking/daemon/datamanager/data/DataManager.class
src/ca/ubc/cs/beta/stationpacking/daemon/datamanager/data/ManagerBundle.class
src/ca/ubc/cs/beta/stationpacking/daemon/datamanager/solver/SolverManager.class
src/ca/ubc/cs/beta/stationpacking/daemon/datamanager/solver/bundles/ASolverBundle.class
src/ca/ubc/cs/beta/stationpacking/daemon/datamanager/solver/bundles/ISolverBundle.class
src/ca/ubc/cs/beta/stationpacking/daemon/datamanager/solver/bundles/ISolverBundleFactory.class
src/ca/ubc/cs/beta/stationpacking/daemon/datamanager/solver/bundles/SATFCSolverBundle.class
src/ca/ubc/cs/beta/stationpacking/datamanagers/constraints/ChannelSpecificConstraintManager$1.class
src/ca/ubc/cs/beta/stationpacking/datamanagers/constraints/ChannelSpecificConstraintManager$ConstraintKey.class
src/ca/ubc/cs/beta/stationpacking/datamanagers/constraints/ChannelSpecificConstraintManager.class
src/ca/ubc/cs/beta/stationpacking/datamanagers/constraints/IConstraintManager.class
src/ca/ubc/cs/beta/stationpacking/datamanagers/stations/DomainStationManager.class
src/ca/ubc/cs/beta/stationpacking/datamanagers/stations/IStationManager.class
src/ca/ubc/cs/beta/stationpacking/execution/parameters/solver/daemon/PortValidator.class
src/ca/ubc/cs/beta/stationpacking/execution/parameters/solver/sat/ClaspLibSATSolverParameters.class
src/ca/ubc/cs/beta/stationpacking/execution/parameters/solver/sat/ISATSolverParameters.class
src/ca/ubc/cs/beta/stationpacking/solvers/ISolver.class
src/ca/ubc/cs/beta/stationpacking/solvers/SolverHelper.class
src/ca/ubc/cs/beta/stationpacking/solvers/base/SATResult.class
src/ca/ubc/cs/beta/stationpacking/solvers/base/SolverResult.class
src/ca/ubc/cs/beta/stationpacking/solvers/certifierpresolvers/cgneighborhood/ConstraintGraphNeighborhoodPresolver.class
src/ca/ubc/cs/beta/stationpacking/solvers/certifierpresolvers/cgneighborhood/IStationSubsetCertifier.class
src/ca/ubc/cs/beta/stationpacking/solvers/certifierpresolvers/cgneighborhood/StationSubsetSATCertifier.class
src/ca/ubc/cs/beta/stationpacking/solvers/certifierpresolvers/cgneighborhood/StationSubsetUNSATCertifier.class
src/ca/ubc/cs/beta/stationpacking/solvers/componentgrouper/ConstraintGrouper.class
src/ca/ubc/cs/beta/stationpacking/solvers/componentgrouper/IComponentGrouper.class
src/ca/ubc/cs/beta/stationpacking/solvers/componentgrouper/NoGrouper.class
src/ca/ubc/cs/beta/stationpacking/solvers/composites/SequentialSolversComposite.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/CompressedSATBasedSolver.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/GenericSATBasedSolver.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/base/CNF.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/base/Clause.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/base/Literal.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/ISATDecoder.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/ISATEncoder.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/SATCompressor.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/SATEncoder$1.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/SATEncoder.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/SATEncoderUtils.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/base/CompressionBijection.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/base/IBijection.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/cnfencoder/base/IdentityBijection.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/solvers/AbstractCompressedSATSolver.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/solvers/ISATSolver.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/solvers/base/SATSolverResult.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/solvers/jnalibraries/ClaspLibrary.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/solvers/nonincremental/ClaspResult.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/solvers/nonincremental/ClaspSATSolver$1.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/solvers/nonincremental/ClaspSATSolver$2.class
src/ca/ubc/cs/beta/stationpacking/solvers/sat/solvers/nonincremental/ClaspSATSolver.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/DisjunctiveCompositeTerminationCriterion.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/ITerminationCriterion.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/WallclockTimeTerminationCriterion.class
src/ca/ubc/cs/beta/stationpacking/utils/RunnableUtils$1.class
src/ca/ubc/cs/beta/stationpacking/utils/RunnableUtils.class
src/ca/ubc/cs/beta/stationpacking/utils/StationPackingUtils.class
src/ca/ubc/cs/beta/stationpacking/utils/Watch.class
SATFCParameters.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/ITerminationCriterionFactory.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/composite/DisjunctiveCompositeTerminationCriterion.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/cputime/CPUTimeTerminationCriterion.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/cputime/CPUTimeTerminationCriterionFactory.class
src/ca/ubc/cs/beta/stationpacking/solvers/termination/walltime/WalltimeTerminationCriterion.class
