<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2015, Auctionomics, Alexandre Fréchette, Neil Newman, Kevin Leyton-Brown.

    This file is part of SATFC.

    SATFC is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    SATFC is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SATFC.  If not, see <http://www.gnu.org/licenses/>.

    For questions, contact us at:
    afrechet@cs.ubc.ca

-->
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>false</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %p [%c] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>satfcserver.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %p [%c] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="ca.ubc.cs.beta.stationpacking" level="INFO"/>
    <logger name="com.mangofactory" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="FILE" />
    </root>
</configuration>